body{
    background-color: #082d53;
}

/* navbar styles */
.btn-water-glow {
    background-color: #007bff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-water-glow:hover {
    background-color: #0056b3; 
    box-shadow: 0 0 20px rgba(0, 91, 187, 0.6);
    transform: translateY(-2px);
}

.nav-link-water {
    color: #007bff !important;
    transition: all 0.2s ease;
    border-bottom: 3px solid transparent !important; 
    padding-bottom: 5px;
}

.nav-link-water:hover {
    border-bottom: 3px solid #2372aa !important; 
    color: #0056b3 !important; 
}
/* navbar styles */

/* section two start */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
/* section two End */

/* section three start */
.main-title {
    color: #212529;
    transition: color 0.3s ease;
}

.main-title:hover {
    color: #007bff !important;
}

.feature-card {
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.feature-card .title-text {
    color: #007bff;
}

.feature-card .body-text {
    color: #6c757d;
}

.feature-card:hover {
    background-color: #007bff !important;
    transform: translateY(-10px);
}

.feature-card:hover .title-text,
.feature-card:hover .body-text {
    color: #000000 !important;
}

.feature-card:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
/* section three End */

/* last section start */
.testimonial-card {
    border-bottom: 4px solid #007bff;
    transition: transform 0.3s ease;
}

.stars i {
    font-size: 1.5rem;
    margin: 0 2px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
/* last section end */

/* footer start */
.btn-success.position-fixed {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7); }
    70% { box-shadow: 0 0 0 15px rgba(40, 167, 69, 0); }
    100% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0); }
}
/* footer end */

.neighborhood-card {
    background-color: #e3f2fd;
    color: #007bff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0, 123, 255, 0.1);
}

.neighborhood-card:hover {
    background-color: #000000 !important;
    color: #0d6efd !important;
    transform: translateY(-5px);
    cursor: pointer;
}